requests>=2.21.0
selenium>=3.141.0
aiohttp>=3.5.4
lxml>=4.3.0
beautifulsoup4>=4.7.1
pyquery>=1.4.0
tesserocr>=2.4.0
pillow>=5.4.1
pymysql
pymongo
redis
redis-dump-load
flask
tornado
pyspider=>=0.3.10
Scrapy
scrapy-redis
scrapyd
python-scrapyd-api
scrapyrt